@import "~@/style/variable.scss";
.debug {
  &, * {border:1px dashed rgba(#f00, .2);}
}
.height__zero {height:0;}
.border { border:$border;
  &-left {border-left:$border;}
  &-top {border-top:$border;}
}
.active-refer {color:#00aff4;}
.padding { padding:$box-base;
  &-top {padding-top:$box-base;}
  &-left {padding-left:$box-base;}
  &-bottom {padding-bottom:$box-base;
    &__zero {padding-bottom:0;}
  }
}
.pointer {cursor:pointer;
  * {@extend .pointer;}
}
.left-nav-bounds {width:200px;
  .root-linker {border-bottom:$border;}
}
